<p>
  Javascript test
</p>

<pre class="prettyprint lang-js">
  console.log('This will be painted');
</pre>

<p>
  CSS test
</p>

<pre class="prettyprint lang-css">
  .ember-code-prettify:before {
    content: 'is awesome addon';
    text-transform: uppercase;
    font-weight: bold;
  }
</pre>

{{test-code}}
